html, body, .image-display {
    height: 100%;
    width: 100%
}

.title {
    color: #1e1e1e;
    font-size: 4rem;
    font-family: "Edu TAS Beginner", cursive;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    height: 22px;
    display: inline-block;
}

.round {
    color: #1e1e1e;
    font-size: 3rem;
    font-family: "Edu TAS Beginner", cursive;
    position: absolute;
    top: 2%;
    left: 3%;
    transform: translateX(-50%);
}

.image-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    padding: 0.5vw 1vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 10px;
    font-size: 1.25rem;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 0.2vw solid #1e1e1e;
    font-family: "Space Mono", monospace;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.play-button {
    bottom: 40%;
}

.next-button {
    bottom: 15%;
}

.play-button:hover, .next-button:hover {
    background-color: #1e1e1e;
    color: white;
}

.image-button {
    width: 20%;
    border: none;
    padding: 0;
    background: none;
    transition: transform 0.4s ease-in-out;
    margin: 0 2rem;
}

.image-button:hover {
    transform: scale(1.1);
}

img {
    width: 100%;
    height: auto;
}